<div class="table-component">
  <div class="toolbar">
    <div class="toolbar-left">
      <m-search [(ngModel)]="search"></m-search>
      <m-filters [filters]="itemData?.t_filters" (onFilterEvent)="onFilter()"></m-filters>
    </div>
    <div class="actions">
      <m-button [code]="'add'" (onClickEvent)="openModal()"></m-button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr class="table-secondary">
          <th scope="col" *ngFor="let header of listHeader">
            {{ header.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of listRecord">
          <td *ngFor="let header of listHeader">
            <span
              [innerHTML]="record[header.key] | highlighter : search"
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
