<div class="table-component">
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="search">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="search" />
        </div>
      </div>
      <div class="filters">
        <div class="filter">
          <m-filters [filters]="filters" [(ngModel)]="filterId"></m-filters>
        </div>
      </div>
    </div>
    <div class="actions">
      <m-button [code]="'add'" (onClickEvent)="openModal()"></m-button>
    </div>
  </div>
  <div class="table-responsive">

    {{ filterId }}
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead>
        <tr class="table-secondary">
          <th scope="col" *ngFor="let header of listHeader">
            {{ header.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of listRecord">
          <td *ngFor="let header of listHeader">
            {{ record[header.key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
