<ng-container [ngSwitch]="itemData.type">
  <!-- GROUP -->
  <ng-container *ngSwitchCase="'group'">
    <m-form-field [rootData]="itemData" [rootId]="rootId"></m-form-field>
  </ng-container>

  <!-- TEXT -->
  <ng-container *ngSwitchCase="'text'">
    <m-text
      [(ngModel)]="itemData.value"
      [itemData]="itemData"
      [rootId]="rootId"
      [disabled]="itemData.disabled"
    ></m-text>
  </ng-container>

  <!-- NUMBER -->
  <ng-container *ngSwitchCase="'number'">
    <m-number
      [(ngModel)]="itemData.value"
      [itemData]="itemData"
      [rootId]="rootId"
      [disabled]="itemData.disabled"
    ></m-number>
  </ng-container>

  <!-- DATE -->
  <ng-container *ngSwitchCase="'date'">
    <m-date
      [(ngModel)]="itemData.value"
      [itemData]="itemData"
      [rootId]="rootId"
      [disabled]="itemData.disabled"
    ></m-date>
  </ng-container>

  <!-- SELECT -->
  <ng-container *ngSwitchCase="'select'">
    <m-select
      [(ngModel)]="itemData.value"
      [itemData]="itemData"
      [rootId]="rootId"
      [disabled]="itemData.disabled"
    ></m-select>
  </ng-container>

  <!-- TABLE -->
  <ng-container *ngSwitchCase="'table'">
    <m-table [itemData]="itemData"></m-table>
  </ng-container>
</ng-container>
