<div id="{{ rootData?.id }}" class="root">
  <h5 *ngIf="rootData?.name" class="root-name {{ rootData?.alignName }}">
    {{ rootData?.name }}
  </h5>

  <div class="list-item">
    <div class="row {{ rootData?.class }}">
      <ng-container *ngFor="let item of rootData?.items">
        <m-base-input
          class="{{ item?.class }} mb-3"
          [itemData]="item"
          [rootId]="rootId"
          (formulaRefIdsEmitter)="onFormulaIdsEmitter($event)"
          (referenceIdsEmitter)="onReferenceIdsEmitter($event)"
          (validEmitter)="onCheckValidRoot()"
        ></m-base-input>
      </ng-container>
    </div>
  </div>
</div>
