<button
  class="btn btn-sm {{ button.class }}"
  *ngIf="button"
  (click)="onClick()"
  [disabled]="button.disabled"
>
  <i class="fa fa-{{ button.icon }} {{ button.iconPosition }}"></i>
  {{ button.text }}
</button>

<!-- <button class="btn btn-sm btn-outline-success">
  <i class="fa fa-plus left"></i>
  Thêm
</button>

<button class="btn btn-sm btn-outline-info">
  <i class="fa fa-pencil left"></i>
  Chỉnh sửa
</button>

<button class="btn btn-sm btn-outline-danger">
  <i class="fa fa-trash left"></i>
  Xoá
</button>

<button class="btn btn-sm btn-danger">
  <i class="fa fa-time-circle-o left"></i>
  Từ chối
</button>

<button class="btn btn-sm btn-danger">
  <i class="fa fa-trash left"></i>
  Chắc chắn xoá
</button>

<button class="btn btn-sm btn-primary">
  <i class="fa fa-save left"></i>
  Lưu
</button>

<button class="btn btn-sm btn-outline-primary">
  <i class="fa fa-paper-plane left"></i>
  Trình duyệt
</button>

<button class="btn btn-sm btn-outline-secondary">
  <i class="fa fa-close left"></i>
  Đóng
</button> -->
