/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/button';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.highlighted-text {
    background-color: violet;

    span:not(:has(.highlighted-text)) {
        background-color: #ffffff;
    }
}
.inputInTable>input{
    background: 0 !important;
    border: unset;
}
.inputInTable>input:focus{
    border:1px solid #28a745 ;
    box-shadow: unset;
}